.col-md-3 {
    margin-bottom: 20px; 
  }

  .list-unstyled li {
    margin-bottom: 10px;
  }

  .list-unstyled li a {
   text-decoration: none;
  }
  
  
.page-footer {
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 191, 42);
  }
  .size-content{
   color: rgb(0, 0, 0);
    background-color: rgb(255, 191, 42);
    padding: 13px;
    
  }
  .updated{
     color: rgb(0, 0, 0);
    background-color:rgb(255, 191, 42);
    padding: 13px;
  }

  .updated svg{
    font-size: 25px;
    align-items: center;
    justify-content: center;
  }
  

  .list-unstyled a {
    color: rgb(255, 191, 42);
    flex-direction: column;
    list-style-type: none;
    cursor: pointer;
    
  }
  
  .footer-bottom  {
    background-color:rgb(255, 191, 42);
    padding: 16px;
    color: black;
  }
  .footer-bottom a{
    color: black;
    font-weight: bold;

  }

  .itdata{
    border-bottom: 2px solid rgb(247,185,41);
  }