.policy{
    color:  rgb(255,191,42);
    padding: 20px;
    margin: 20px;
     
}
.policy-row{
    border: 4px solid    rgb(255,191,42);
    padding: 20px;
    background-color: black;
    margin-bottom: 12px;

}@media (max-width:767px){
     .sub-section{
      margin-left: 90px;
      margin-right: 0px;
     }
}
