.view{
    display: inline;
    background-color: rgb(23,162,184);
    margin-right: 10px;
}
.viewlist{
    display: inline;
    background-color: rgb(11,170,123);
}

.ratelist{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.bottom-ratelist{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(11,170,123);
    color: white;
    margin-bottom: 10px;
}