.heading-section{
    display: flex;
}
.tender{
    background-color: black;
    border:4px solid rgb(255,191,42) ;
   padding: 20px;
        margin-bottom: 46px;
        margin-top: 34px;
}
.search{
background-color:  rgb(255,191,42);
}
.reset{
background-color: rgb(40,167,69);

}
.print{
    background-color: rgb(23,162,184);
}
.sub-title{
    color:  rgb(255,191,42);
    background-color:  black;
}
.react-bootstrap-table thead.sticky {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1021;
  }
  .table{
    margin-bottom: 8px;
  }
  .table thead{
    color:  rgb(255,191,42);
    background-color:  black;
  }