
.row{
    display: flex;
}
.col{
    display: grid;
   justify-content: space-between;
 
}

/* Add this CSS in your stylesheet */
@media (max-width: 767px) {
  .nav-fill {
       margin-top: 10%;
       margin-left: -25%;
       padding: 6px;
  }
}
@media (max-width: 767px) {
  Form{
    display: flex;
    margin-top: -12%;
   margin-left: -30%;
  
  }
  .input-data{
    margin-left: -30%;
  }
  .buttonpart{
 margin-bottom: 20%;
  margin-left: 200%;
  }
  .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 104%;
    width: 50px;
    height: 30px;
  }
  .title{
    margin-top: -17%;
    margin-left: 30%;
    font-size: 12px;
   
  }
  .title h2{
    font-size: 13px;
  }
  .epcoa{
   margin-left: 12%;
  }

}

@media (max-width: 767px) {
  .nav-item{
    display: flex;
    margin-top: -12%;

  }
}

@media (max-width: 767px) {
  .itemsdatas{
    display: flex;
   padding: 25px;
   gap: 7px;
   margin: 20px;
   background-color: rgb(25,25,25);

  }
}




.navbar{
    display: flex;
} 
.nav-item .nav-link {
  display: block;
    background-color: white;
    flex-wrap: wrap;
    color: black;
    margin-right: 10px; /* Adjust the spacing as needed */
}



.nav-fill .nav-link {
     color: rgb(237, 187, 2);
      border-right: 1px solid wheat;
}


.buttonpart {
   background-color: rgb(0, 0, 0);
   font-family: 26px;
   border: none;
   padding: 0 10px 0;
   height: auto;

   color:rgb(237, 187, 2);
   background: -webkit-linear-gradient(to right, #e86a41, rgb(255 88 144));
   font-size: 13px;
   width: 60px;
   height: 37px;
   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px;

}



.navbar-2 {
    background-color: rgb(0,0,0);
}

.logo {

    width: 75px;
    height: 76px;
}

.title {
    margin-right: 19%;
    color: rgb(255, 198, 0);
    font-weight: bold;
}

.coal{
    height: 85px;
    width: 140px;

    animation: alternate 2s infinite;
}

.eprocurement{
    width: 250px;
    height: 100px;   
    animation: alternate 2s infinite;
}

@keyframes alternate {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .coal, .eprocurement {
    height: auto; 
    width: auto; 
    max-height: 85px;
    max-width: 250px; 
    animation: alternate 2s infinite alternate;
  }
  
















   


   /* navbar 3  */

   /* App.css */

/* Hover effect for Navbar links */

.navbar-3 .nav-link{
      background-color: black;
  color: rgb(237, 187, 2);
}
.container-3{
  background-color: black;
  color: rgb(237, 187, 2);
  margin-top: -10px; 
}
.navbar-3 .nav-link:hover,
.navbar-3 .dropdown-item:hover {
  background-color: rgb(237, 187, 2);
}
.dropdown-menu {
  position: absolute !important;
}
.boarddirector {
    margin-left: 235px;
    margin-top: -31px;
}
.itemsdatas{
    color: wheat;
}
.whole-section-data{
  margin-top: -1%;
}

.navbar-toggler-icon{
  background-color: yellow;
}